.contact-parrafo{
    color: #fff;
}

form{
	background:  rgba(79, 79, 80, 0.404);
    width: 100%;    
    border-radius: 1em;
    padding:3.0em 1.5em;
    .form__container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;
        .form__title{  
            color: #fff;  
            text-align: center;
            font-size:1.9em;
            margin-bottom:.2em;
        }
        .form__input{   
            font-size:1rem;
            padding:.8em 1em;
            outline: none;
            border: none;
            border: 1px solid #bbb0b0;
            border-radius: 0.2em;
        }
        .form__input--message{
            resize: none;
        }
        .form__cta{
            font-size:1rem;
            background-color: #03dac6;
            color:#fff;
            border: none;
            font-weight: 300;
            padding:.7em 0;
            border-radius: 0.2em;
            cursor: pointer;
        }
    }
}


