body {
    font-family: "ROBOTO", sans-serif;
    background: #1e1f26;
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  .about__seccion{
    width: 100%;
    padding: 10px;        
    h3{      
      font-size: 2em;
      padding-bottom: 20px;
      color: $colorPrimario;
      margin-top: 30px;
      &:hover{
        color: $coloAmarillo;
        font-weight: 500;        
        }
    }    
    p{
      color: #fff;
      
    }
  }
  