body {
    font-family: "ROBOTO", sans-serif;
  }

  .slider__about{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;  
    h2{
      padding-bottom: 20px;
    }    
  }
  .slider{
    @extend .header;    
    h2 {
        @extend h2;
    }
    p{
        text-align: center;
      color: #fff;
      font-size: 1.2em;
      font-style: transparent;
    }
  }