*{
    margin: 0;
    padding: 0;    
    font-family:monospace;    
    box-sizing: border-box;
    font-size: 20px;
}

/* Declaramos la estructura del Sitio Web */

.container{
    display: grid;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 250px 90px auto auto 150px;
    grid-template-areas: "header           header"
                         "navbar           navbar"
                         "section_about    section_about"
                         "section_proyect  section_proyect"
                         "footer           footer";
}

.header{
    grid-area: header;
}
.navbar{
    grid-area: navbar;
}
.section_about{
    grid-area: section_about; 
}
.section_proyect{
    grid-area: section_proyect;
}
.footer{
    grid-area: footer;
}

/*  ESTILOS PARA EL HEADER */
.header{
    background: linear-gradient(45deg, #b7b8b9, #293036);    
    /* background: linear-gradient(45deg, #102eff, #d2379b); */
    /* background-color: rgba(8, 8, 8, 0.9); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}
.header__titulo{
    color:#fff;
    font-size: 20px;
    text-align: center;
    margin: 15px 5px;
    padding: 5px;
}
.header__img{        
    background-image: url(../images/me.svg);
    background-size: cover;
    width:120px;
    height:100px;      
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.521);    
}
.header__redes ul { 
    list-style-type: none;
}
.header__redes ul li{
    padding: 5px;
}
.header__redes ul li a{
    text-decoration: none;
}
.header__redes ul{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}
.header__redes ul li a img{
    width: 40px;
    height: 40px;
}

/* Estilos para el Nav o barra de menu */
.navbar{    
    background-color:#000;
    /* background-color: #1489F5;     */
    border-bottom: 1px solid #fff;
    position: sticky;
    top: 0;
}
.navbar ul{
    list-style-type: none;   
    display: flex;  
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    
}
.navbar ul li{
    padding: 20px 10px;       
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;    
    padding: 20px;
     
}
.navbar ul li a:hover{
    /* border-bottom: 5px solid #F2BB16; */
    background-color:  #F2BB16;;
    padding: 20px;
    color:#000;
}
/* Estilos para el section about- me */

main{
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
}
.section__about{ 
    width: 100%;
}
.about__me{
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px;
}
.about__me img{
    width: 150px;
    height: 150px;
    margin:10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.438);
}
.about__me__titulo{
    margin: 20px;
}
.about__me p{
    text-align: start;
    width: 80%;
}
/* Estilos para el section - tarjetas */

.section_proyect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_proyect h2{
    font-size: 20px;
    margin: 10px;
    text-align: center;
}
.proyect__card{
    margin: 10px;
    width:90%;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;    
    align-items: center;
}
.proyect__card__contenido{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyect__card img{
    width:100%;
    height: 250px;
    border:0;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.proyect__card__titulo{
    margin: 5px;
}

.proyect__card__descripcion{
    padding: 10px;
    text-align: center;
}
.proyect__card__btn{
    padding: 10px;
    margin: 10px;
    background-color: #A6775B;
    border-radius:10px;
    color: #fff;
    text-decoration: none;
}
.proyect__card__btn:hover{
    padding: 10px;
    margin: 10px;
    background-color: #F2BB16;
    border-radius:10px;
    color: #000;
    text-decoration: none;
}


/* Estilos para el Footer */

.footer{
    width: 100%;    
    background-color:#000;
    /* background-color: rgba(8, 8, 8, 0.9); */
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;      
    justify-content: space-around;
}
.footer__creador{
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.menu ul{
    list-style: none;
    display: flex;    
}
.menu ul li{
    padding: 5px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.footer__redesSociales ul{
    list-style-type: none;    
    display: flex;
    flex-wrap: wrap
}
.footer__redesSociales ul li{
    padding: 5px;
}
.footer__redesSociales ul li a{
    text-decoration: none;
}
.footer__redesSociales ul li a img{
    width: 25px;
    height:25px;
}

/* Estilos para skill - seccion de habilidades */

.skill{
    width: 100%;    
    display: flex;      
    flex-direction: column;
    align-items: center;    
}
.skill__card{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;    
}
.skill__titulo{
    margin: 10px;
}

.section__skill__card{
    width: 100%;  
    
}
.section__skill__card ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
    margin: 1px;
}
.section__skill__card ul li{
    padding: 20px;
}
.section__skill__card ul li img{
    width: 100%;    
}

.skill__developer{
    margin: 30px;
    width:90%;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;    
    align-items: center;    
    color: rgba(122, 122, 122, 0.774);
    padding: 10px;
}

.skill__developer__titulo{
    margin: 20px;
    padding: 10px;
    color: rgb(7, 153, 250);
}

/* Estilos para el formulario */

.main_formulario{
    width: 100%;
    display: flex;    
    flex-direction: column;
    align-items: center;   
}

.formulario{
    width: 95%;  
    max-width: 720px;  
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;   
    border-radius: 10px;   
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
    
}
.form__encabezado{    
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
}
.form__encabezado h2{
    text-align: center;
    margin-top: 20px;
}
.form__encabezado img{
    border:0;     
}
.form__grupo{    
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding:5px;    
}
.form__grupo label{
    font-size:20px;
    color: #000;
    padding: 8px;
}
.form__grupo input{    
    padding: 2px;
    width: 100%;       
    border-radius: 5px;            
}
.form__grupo textarea{ 
    padding: 5px;
    width: 100%;
    border-radius: 5px;            
}
.form__grupo textarea:hover{ 
    border: 1px solid #F2BB16;        
}
.form__grupo input:hover{
    border: 2px solid #F2BB16;
}
.form_btn{
    width: 100%;    
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.btn{
    width: 100%;
    border:0;
    padding: 10px;           
    border-radius:10px;    
}
.btn:hover{
    background-color:#F2BB16;    
    cursor: pointer;  
    
}

/* Adaptado a diferentes dispositivos */

@media (min-width: 480px){
    .proyect__card{
        margin: 10px;
        width:400px;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;    
        align-items: center;
    }
    .proyect__card img{        
        height: 250px;
        border:0;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
    }
    .footer{
        width: 100%;    
        background-color:#000;
        /* background-color: rgba(8, 8, 8, 0.9); */
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;      
        align-items:center;
        padding:20px;
    }
}

@media (min-width: 678px){        
    /* a partir de aqui la seccion proyecto debe ir en forma horizontal */     
    
    .section_proyect{        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }

    .section_proyect h2{
        width: 100%;
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }
    .proyect__card{    
        width:300px;    
        display: flex;
        flex-direction: column;    
        justify-content:center;
    }
    .proyect__card img{     
        border-radius: 10px 10px 0 0;
    }
}
@media (min-width: 1200px){        
    /* a partir de aqui la seccion proyecto debe ir en forma horizontal */     
    .header{                     
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;   
    }
    .header__titulo{
        color:#fff;
        font-size: 20px;
        text-align: center;
        margin: 15px 5px;
        padding: 5px;
    }
    .header__img{        
        background-image: url(../images/me.svg);
        background-size: cover;
        width:150px;
        height:150px;      
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.521);    
    }
    .section_proyect{        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }    
    .section_proyect h2{
        width: 100%;
        font-size: 20px;
        margin: 10px;
        text-align: center;
    }
    .proyect__card{    
        width:25%;    
        margin: 10px 20px;
        display: flex;
        flex-direction: column;    
        justify-content:center;
    }
    .proyect__card img{ 
        width:100%;    
        border-radius: 10px 10px 0 0;
    }
}